amodules = ["python-3.11", "postgresql-16", "python3"]
modules = ["web", "python-3.11", "bash", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "nano", "openjpeg", "openssh", "openssl", "pkg-config", "postgresql", "rsync", "rustc", "u-root-cmds"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--workers=4", "--reuse-port", "wsgi:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload app:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true

[userenv]

[userenv.shared]
GIT_URL = "https://ldshawver:${GITHUB_PERSONAL_ACCESS_TOKEN}@github.com/ldshawver/LUX-Marketing.git"
FB_VERIFY_TOKEN = "lux_fb_webhook_secret_123"
